.main {
    width: 100%;
    height: 225vh;
    background-color: white;
  }
  
  .logoSpace {
    height: 30%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .button {
    appearance: none;
    background-color: rgb(254, 190, 104);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 200px;
    will-change: transform;
  }
  
  .center {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 25px;
    font-weight: 400;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: 1px;
  }
  
  .centerLarge {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 50px;
    font-weight: 400;
    justify-content: center;
    align-items: flex-end;
    letter-spacing: 1px;
  }
  
 
  
  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .buttonContainer {
    width: 200px;
  }
  
  .thirdSection {
    display: flex;
    height: 30%;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .paragraphContainer {
    width: 50%;
  }
  .buttonBlue {
    appearance: none;
    border: none;
    background-color: rgb(1,51,93);
    width: 80%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    will-change: transform;
  }
  .padding{
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
  }
  .smaller {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  .eighty{
    display: flex;
    justify-content: center;
   flex-direction: column;
   height: 100%;
   width: 90%;
   border-radius: 5px;
    align-items: center;
  }
  .iconContainer{
    position: relative;
    width: 20px;
    height: 20px;
  }
  .paragraph {
    color: black;
    font-size: 20px;
    line-height: 31px;
    width: 80%;
    padding: 10px;
    font-weight: 200;
    text-align: center;
  }
  
  .logo {
    width: 170px;
    height: 170px;
    object-fit: contain;
  }
  
  .menuRow {
    display: flex;
    justify-content: space-around;
    width: 25%;
  }
  
  .image {
    width: 500px;
  }
  
  .section {
    width: 250px;
    height: 225px;
    box-shadow: 1px 1px 9px gray;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    border-radius: 15px;
  }
  
  .repair {
    background-image: url("/static/repair.jpg");
    height: 30vh;
    width: 20vw;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
  }
  
  .toner {
    background-image: url("/toner.jpg");
    height: 30vh;
    width: 20vw;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
  }
  
  .itWork {
    background-image: url("/itWork.jpg");
    height: 30vh;
    width: 20vw;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
  }
  
  .construction {
    background-image: url("/construction.jpg");
    height: 30vh;
    width: 20vw;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
  }
  .centerContainer{
    height: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .woman {
    background-image: url("/buy.webp");
    height: 75vh;
    width: 40vw;
    background-size: cover;
    border-radius: 15px;
    background-repeat: no-repeat;
  }
  
  .shade {
    padding: 10px;
    border-radius: 10px;
  }
  
  .shadeBig {
    padding: 10px;
    border-radius: 10px;
  }
  
  .shadeBig:hover {
    padding: 10px;
    padding-bottom: 55px;
    background-color: gray;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  .shade:hover {
    background-color: gray;
    transition: all 0.3s ease-in-out;
  }
  
  .sectionBig {
    box-shadow: 1px 1px 9px gray;
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: black;
    border-radius: 15px;
  }
  
  .smallRow {
    display: flex;
  }
  
  .square {
    width: 20px;
    height: 20px;
    background-color: red;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    
  }
  
  .text {
    text-align: center;
    font-weight: 200;
  }
  .green{
    padding: 20px;
    background-color: rgb(254, 190, 104);
    color: black;
    border-radius: 20px;
  }
  .bulletPoints li{
    color: black;
    font-size: 20px;
   
  }
  .bulletBox{
    border: 1px solid rgb(205, 205, 205);
    color: black;
    line-height: 28px;
    width: 350px;
    height: 100px;
    padding: 20px;
  }
  .bulletPoints{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
  }
  
  .sliver{
    height: 30px; 
    background-color: rgb(2,50,92);
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    letter-spacing:1px; 
    padding-right:20px;
    width:100%
  }
  .title {
    font-size: 30px;
    font-weight: 500;
    padding: 15px;
    color: black;
    text-align: center;
    letter-spacing: 1.5px;
  }
  
  .titleBig {
    color: black;
    font-size: 50px;
    letter-spacing: 1.5px;
  }
  
  .titleContainer {
    width: 28%;
    display: flex;
    justify-content: flex-end;
  }
  
  .row {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    width: 90%;
  }
  .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 30px;
    height: fit-content;
  }
  
  .photoBox {
    width: 800px;
    height: 350px;
    background-color: white;
  }
  
  .secondSection {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
    width: 100%;
  }
  .thirdSection {
    height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: "100px";
    width: 100%;
  }
  
  .logoSpaceContainer {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .infoSmall {
    color: black;
    font-size: 17px;
  }
  
  .infoMedium {
    color: black;
    font-weight: 400;
    font-size: 20px;
  }
  
  .infoBig {
    color: black;
    font-weight: 700;
    font-size: 30px;
  }
  
  .columnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 30vh;
  }
  
  .parent {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .parent div {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  
  
  .container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(245, 247, 248);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 55vh;
    width: 30vw;
    border-radius: 10px;
  }
  
  .line {
    height: 1.5px;
    background-color: rgb(174,171,178);
    color: rgb(245, 247, 248); ;
    width: 80%;
    
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  }
  .paddedBox{
    color: black;
    padding: 10px;
    font-size: 25px;
    text-align: center;
  }
  .black {
    font-size: 28px;
    color: black;
    font-weight: 400;
  }
  .sliver a{
    padding-right: 5px;
  }
  .space{
    padding-right: 5px;
  }
  .filter{
    width: 25%;
    height: 100%;
    background-color: black;
  }
  .blackButton {
    font-size: 25px;
    color: white;
    transition: all 0.3s ease-in-out;
    background-color: rgb(1,51,93);
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
  }
  .option{
    font-size: 25px;
    color: black;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
  }
  
  .option:hover{
    background-color: rgb(1,51,93);
    color: white;
  }
  
  .blackSpace {
    font-size: 30px;
    color: black;
    margin: 10px;
  }
  
  .input {
    border: none;
    outline: none;
    border-bottom: 1px black solid;
    background-color: transparent;
    border-color: rgb(169, 172, 173);
    font-size: 17px;
  }
  
  .numberContainer {
    width: 95%;
    display: flex;
    align-items: center;
  }
  
  .light {
    font-weight: 250;
    color: rgb(169, 172, 173);
  }
  
  .subHeader {
    font-weight: 200;
    padding: 10px;
  }
  
  .textarea {
    width: 100%;
    border-bottom: 1px solid black;
    color: black;
  }
  
  .textarea:focus {
    outline: none;
  }
  
  .space {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }
  
  .inputSingle {
    width: 100%;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(210,210,210);
    color: black;
  }
  
  .buttonBlue:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .phoneNumber {
    background-color: transparent;
    outline: none;
    color: rgb(117, 117, 117);
    border: none;
    border: 1px solid rgb(210,210,210);
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
  }
  .phoneNumber:focus {
    border: none;
  }
  .button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .selected {
    width: 60%;
    height: 30px;
    color: rgb(147, 147, 147);
    border-color: rgb(147, 147, 147);
  }
  
  .inputDouble {
    display: flex;
    align-items: center;
  }
  @media (max-width: 1150px) {
    .paragraph {
      font-size: 17px;
    }
    .option{
      font-size: 30px;
    }
    .blackButton{
      font-size: 30px;
    }
    .title{
      font-size: 20px;
    }
    .bulletPoints li{
      font-size: 15px;
    }
    .paragraph{
      padding: 10px;
    }
    
  }
  @media (max-width: 1000px) {
    .container {
      width: 50vw;
    }
  }
  
  @media (max-width: 700px) {
    .container {
      width: 45vw;
      font-size: 27px;
    }
    .woman {
      display: none;
    }
    .secondSection{
      padding: 10px;
    }
    .container{
      width: 60vw;
    }
  }
  
  @media (max-width: 600px) {
    .container {
      width: 98%;
      font-size: 27px;
    }
    .woman {
      display: none;
    }
    .columnContainer {
      flex-direction: column;
      align-items: flex-end;
      height: fit-content;
    }
    .logoSpace {
      width: 95%;
      justify-content: space-around;
    }
    .infoBig {
      font-size: 25px;
    }
    .infoMedium {
      font-size: 17px;
    }
    .main{
      height: fit-content;
    }
    .paragraph{
      width: 90%;
    }
    .bulletPoints li{
      font-size: 12px;
    }
   
    .option{
      font-size: 20px;
    }
    .blackButton{
      font-size: 20px;
    }
    .paddedBox{
      width: 100%;
      font-size: 18px;
    }
    .eighty{
      width: 90%;
      height: 100%;
    }
  }
  
  @media (max-width: 850px) {
    .black {
      font-size: 27px;
    }
  
    .paragraph{
      width: 90%;
    }
    .column{
      height: 37vh;
    }
    .row{
      height: 100%;
    }
    .paddedBox{
      width: 100%;
    }
  
  }
  
  @media (max-width: 640px) {
    .padding{
      padding: 10px;
      display: flex;
    justify-content: space-evenly;
    width: 25%;
    }
    .iconContainer{
      height: 20px;
      width: 20px;
    }
    .blackButton{
      font-size:16px;
    }
    .black{
      font-size: 20px;
      padding-bottom: 20px;
    }
    .hidden{
      display: none;
    }
    .sliver{
      padding: 0px;
      font-size: 10px;
      font-size: 8px;
      width: 100%;
      justify-content: space-evenly;
    }
    .sliver a{
      padding: 0px;
    }
    
    .woman {
      display: none;
    }
   .option{
     font-size: 17px;
   }
   
    
    .eighty{
      height: fit-content;
      width: 95%;
    }
    .main{
      height:fit-content
    }
    .row{
      width: 100%;
    }
    .centerContainer{
      height: 5%;
    }
    .container{
      width: 98%;
    }
    .paragraph{
      width: 95%;
    }
    .container{
      height: fit-content;
      margin-top: 50px;
    }
    .column{
      display: none;
    }
    .space{
      width: 95%;
    }
  }
  